name: Build
on:
  workflow_dispatch:

env:
  CHANNEL_LINK: "pear://3ysp1rtmrcmbinxk4ossegdx8hm85ptksdmo3u5xq3iwsmshtspy"
jobs:
  prebuild:
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            platform: linux
            arch: x64
          - os: ubuntu-22.04-arm
            platform: linux
            arch: arm64
          - os: windows-2022
            platform: win32
            arch: x64
          - os: windows-2022
            platform: win32
            arch: arm64
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.platform }}-${{ matrix.arch }}${{ matrix.tags }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: build/_drive
          key: corestore-${{ matrix.platform }}-${{ matrix.arch }}${{ matrix.tags }}
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 20
        if: ${{ matrix.platform == 'linux' }}
      - run: choco upgrade llvm
        if: ${{ matrix.platform == 'win32' }}
      - run: choco install nasm
        if: ${{ matrix.platform == 'win32' }}
      - run: npm install -g bare-make
      - run: npm run install:all
      - name: "Stage to channel"
        run: |
          echo "CHANNEL_LINK: ${CHANNEL_LINK}"
          pear stage --ignore .git --no-ask ${CHANNEL_LINK} .
      - name: "Release latest version"
        run: |
          pear release ${CHANNEL_LINK}
      - name: "Show bare-make version"
        run: bare-make --version
      - name: "Generate appling"
        working-directory: ./appling
        run: bare-make generate --platform ${{ matrix.platform }} --arch ${{ matrix.arch }} ${{ matrix.flags }}
      - name: "Build appling"
        working-directory: ./appling
        run: bare-make build
      - name: "Install appling"
        working-directory: ./appling
        run: bare-make install --strip  --prefix install/${{ matrix.platform }}-${{ matrix.arch }}${{ matrix.tags }}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-${{ matrix.arch }}${{ matrix.tags }}
          path: install/${{ matrix.platform }}-${{ matrix.arch }}${{ matrix.tags }}/bin/*
          retention-days: 1

  merge:
    runs-on: ubuntu-latest
    needs: prebuild
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: install
          merge-multiple: true
      - uses: actions/upload-artifact@v4
        with:
          name: builds
          path: install
          retention-days: 1